body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.breadcrumb {
    background-color: transparent;
}

.folder_icon {
    display: inline-flex;
    flex-basis: auto;
    flex-direction: row;
    flex-grow: 1;

}

.rigth_small_icon {
    height: 15px;
}

.list-resourse li {
    cursor: pointer;
}

.list-resourse li:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.NavBar__input_LoadFile {
    /* Растягиваем label на всю возможную площадь блока .file-upload */
    display: none;
}

.file_icon {
    height: 30px;
}
